.menu__list {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 0 10px;
    
}
 .menu__item {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0 0;
    padding: 50px 50px;
    text-align: center;
 }

 .menu__item--active {
    background-color: #662F32;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0 0;
    padding: 50px 50px;
    text-align: center;
 } 

 .menu__link {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    justify-self: center;
 }

 .menu__link--active {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    justify-self: center;
 }

 h1 {
    padding: 150px 165px 95px 165px;
    font-size: 5rem;
    font:bold;
    text-align: center;
 }

 .slider-container {
    max-width: 100%;
    border: 1px solid red;
    overflow: hidden;
 }

  .slider-container__slider {
    display: flex;
    /* animation: slider 10s infinite ease-in-out; */
 }

 .slider-container__slide {
    flex-shrink: 0;
    width: 100%;
 }

 @keyframes slider {
    0%,
    22%
    {transform: translateX(0);}
    33%,
    55%
    {transform: translateX(-100%);}
    66%,
    88%
    {transform: translateX(-200%);}
    100%
    {transform: translateX(-300%);}
 }

 main div {
    display: flex;
 }