@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');

*{
    font-family: "Gothic A1", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.menu__list {
    display: flex;
    justify-content:space-evenly;
    padding: 0 10px;
    margin: 0;
}

.menu__item {
    list-style-type: none;
    text-align: center;
}

.menu__item:hover {
    background-color: #662F32;
}

.menu__item--active {
    background-color: #662F32;
    list-style-type: none;
    text-align: center;
}

.menu__link {
    font-size: 1rem;
    color: #645955;
    text-decoration: none;
    justify-self: center;
    padding: 50px 50px;
    display: block;
}

.menu__link:hover {
    color: white;
}

.menu__link--active {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    justify-self: center;
    padding: 50px 50px;
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 150px 165px 95px 165px;
    font-size: 5rem;
    font-weight:bold;
    text-align: center;
    font-family: "News Cycle", Arial, Helvetica, sans-serif;
}

span {
    font-weight:900;
    color: #662F32;
}

.slider-container {
    max-width: 4096px;
    overflow: hidden;
}

.slider-container__slider {
    display: flex;
    justify-content: left;
    column-gap: 0;
    animation: slider 15s infinite;
}

 .slider-container__slide {
    flex-shrink: 0;
    width: 100%;
}

@keyframes slider {
    0%,
    22%
    {transform: translateX(0);}
    33%,
    55%
    {transform: translateX(-100%);}
    66%,
    88%
    {transform: translateX(-200%);}
    100%
    {transform: translateX(-300%);}
}

main div {
    display: flex;
    flex-direction: row;
    justify-content:center;
    column-gap: 30px;
}

.post {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    height: 530px;
    position: relative;
    margin-top: 20px;
    background-color: #645955;
}

.post__title {
    color: white;
    background-color: #662F32;
    margin:0;
    padding: 20px 0 12px 0;
    text-align: center;
    font-weight: normal;
    font-family: "News Cycle", Arial, Helvetica, sans-serif;
}

.post__extract {
    padding-top: 20px;
    margin:0;
    color: white;
}

.post__link {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}

.post__link:hover {
    bottom: -5px;
    right: -5px;
    border: 5px solid  #662F32;
}

.info-post {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin-bottom: 42px;
}

.info-post__title {
    margin: 65px 0 30px 0;
    font-weight: normal;
    font-family: "News Cycle", Arial, Helvetica, sans-serif;
}

.info-post__list {
    margin: 10px 0 0 0;
    padding-left: 10px;
}

.info-post__item {
    list-style-image: url("../img/arrow.png");
    margin-top: 30px;
}

.info-post__summary {
    margin-bottom: 30px;
    color: #662F32;
    font-weight:800;
}

.info-post__extract {
    margin: 0 0 15px 0;
}

.info-post__link {
    text-decoration: none;
    color: white;
    background-color: #645955;
    width: 110px;
    text-align: center;
    padding: 12px 0 25px 0;
}

.info-post__link:hover {
    border: 1px outset black;
}

footer {
    border-top: 1px solid black;
    padding: 50px 20px 15px 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

small {
    align-self: end;
}

footer div {
    display: flex;
}

footer div a {
    width: 32px;
    height: 32px;
    overflow: hidden;
    z-index: 1;
}

footer div a img {
    height: 32px;
    width: 96px;
    object-fit: cover;
    opacity: 0%;
}

.icons__facebook {
    object-position:bottom;
}


.icons__twitter {
    object-position:bottom 0 left -32px;
}

.icons__google {
    object-position:bottom 0 left -64px;
}

div > a img:hover {
    opacity: 100%;
}

footer>img {
    height: 32px;
    width: 96px;
    object-fit: cover;
    object-position:top;
    position: absolute;
    bottom: 15px;
    right: 20px;
}